<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- <add key="connection-string" value="Data Source=BASE\SQLEXPRESS;Initial Catalog=School;Integrated Security=True" /> -->
		<add key="connection-string" value="Data Source=PTR\SQLEXPRESS;Initial Catalog=School;Integrated Security=True" />
	</appSettings>
</configuration>